@import "var";
@import "template";

.bg-theme-color-1{
    background-color: $primary-base-color!important;
}


.infobar-top{
    background-color: rgba(40,73,133,0.2);
    //color:white;
}


.banner--stick .infobar-top{
    background-color: $primary-base-color-2!important;
    color:white;
}

.banner--stick .infobar-icon{
    color:white!important;
}
.banner--stick .contact-btn{
    background-color: $primary-base-color!important;
    border-color:  $primary-base-color!important;
    color:white;
}

.banner--stick .infobar-top  a {
    color: white!important;
    text-decoration: none
}
.banner--stick .infobar-top  a {
    color: white!important;
    text-decoration: none
}

.contact-btn{
    background-color: $primary-base-color-2;
    border-color: $primary-base-color-2;
    color:white;
}

.contact-btn-2{
    background-color: $primary-base-color;
    border-color: $primary-base-color;
    color:white;
}

.text-left{
    text-align: left!important;
}


.offcanvas-nav.open{

}

.nav-link{
    padding: 10px;
}

.nav-link{
    .sub-arrow{

    }
}

.navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow{
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}


[v-cloak] {
    display: none;
}

.categories-head{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    .uil{
        margin-left: 5px;
    }
    .categories-head-icon{
        margin-left: 30px;
    }
}
.categories-head-activated{
  //  font-weight: bolder;
    background-color: $primary-base-color-2;
    color: white!important;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    .uil{
      //  font-weight: bolder;
        background-color: $primary-base-color-2!important;
        color: $primary-base-color!important;
        border: 1px solid $primary-base-color;

    }
}


.categories-head:hover{
 //   color: $primary-base-color!important;;
    .uil{
        font-weight: bolder;
        background-color: $primary-base-color-2!important;
        color: $primary-base-color!important;
    }
}
.sub-feature{
    margin-left: 20px;

    .sub-feature-icon{
        margin-left: 0;
        };
}

.cursor-pointer{
    cursor: pointer;
}
.cursor-pointer:hover{

}
.feature-category-span{
    display: block;
    border-bottom: 1px solid $primary-base-color-2;
}
.select-none{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    *{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
}


.whatsapp-btn-overfly{
    z-index: 16000160 !important;
    position: fixed;
    bottom: 30px;
    left: 30px;
    font-size: 35px;
    line-height: 36px;
    margin: 0;
    span{
        cursor: pointer;
        img{
            width: 46px;
            height: 46px;
        }
    }

}

.whatsapp-btn-overfly-popup{
    transition: all ease-in-out 200ms;
    background-color: white;
    z-index: 16000160 !important;
    margin-bottom: 60px;
    width: 260px;
    position: fixed !important;
    bottom: 50px !important;
    left: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    font: 400 normal 15px/1.3 -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    *{
        z-index: 16000162 !important;
    }
    .card-footer{
        .btn{
            i{
                padding-right: 20px;
                font-size: 35px;
                line-height: 10px;
            }
        }
    }
}
.btn-whatsapp{

    border: 1px solid rgb(235, 235, 235);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px 24px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    background: linear-gradient(rgb(18, 198, 101) 0%, rgb(0, 148, 70) 100%);
}
.whatsapp-btn-overfly-popup-hidden{
    //visibility: hidden;
    transition: all ease-in-out 200ms;
    position: fixed;
     left: -2002px;
}
.whatsapp-btn-overfly-popup-close{
    cursor: pointer;
    background: linear-gradient(rgb(18, 198, 101) 0%, rgb(0, 148, 70) 100%);
    border-radius:50% ;
    width: 46px;
    height: 46px;
    display: block;
    i{

        color: white;
        line-height: 46px;
        padding: 5px;
    }

}
